
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    padding: 0px;
}
#stage {
    position:absolute;
    width: 100%;
    height: 100%;
}
div {
    /*border: 1px solid red; /*TEMPORARY
    */
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
canvas {
    /*border: 1px solid red; /*TEMPORARY
    */
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#loading {
    position:absolute;
    left:40px;
    top:40px;
    font-size:40px;
}
